{% extends 'base.html' %} 
{% block content %}

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style='margin:3vw;'>
    <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Bem-vinde à Lojinha!</h1><br>
      <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis vero porro iusto dolores fugit maiores vitae nostrum quo ex autem asperiores reiciendis incidunt ab in reprehenderit similique laborum, unde eveniet.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="/produtos"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold bg-dark">Ver produtos</button></a>
      </div>
    </div>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_57TxAX.json"  background="transparent"  speed="1"  style="width: 600px; height: 500px;"  loop autoplay></lottie-player>
  </div>

  <style>
    main {
        min-height: 74.5vh !important;
    }
  </style>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% endblock content %}
